matplotlib==3.3.4
numpy==1.20.1
opencv_python==4.5.4.58
pandas==1.2.4
scikit_image==0.18.3
scikit_learn==1.0.1
scipy==1.6.2
seaborn==0.11.1
skimage==0.16.2
streamlit==0.79.0
opencv-python-headless==4.5.1.48
textblob==0.15.3
scipy==1.6.1
numpy==1.19.2
pytesseract==0.3.7
nltk==3.5
pandas==1.2.2
scikit-learn==0.24.2
traitlets==4.3.3
tzlocal==2.1
urllib3==1.26.2
validators==0.18.1
watchdog==0.10.4
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==3.5.1
wincertstore==0.2
zipp==3.4.0
opencv-python--headless
